.main
  = render "layouts/header"
  .contents
    .contents_box
      .name
        = @tweet.user.nickname
        %ul.menu
          %li.menu_btn 
            %i.fas.fa-paw.fa-lg{style: "color: pink;"}
            %ul.menu_btn_list
              %li
                = link_to "編集", edit_tweet_path(@tweet.id), class:"list-show link-btn"
              %li
                = link_to "削除", tweet_path(@tweet.id),class:"list-show link-btn", method: :delete
      .contents_box_image{:style => "background-image: url(#{@tweet.image});"}
      .tweeet
        = simple_format(@tweet.text)
  .show-container
    - if current_user
      = form_with(model: [@tweet, @comment], local: true) do |form|
        = form.text_area :text, placeholder: "コメントする", rows: 2,class: "form-text"
        = form.submit "SEND", class: "form-btn"
    .comments
      %h4
        %p コメント一覧
        - if @comments
          - @comments.each do |comment|
            %p
              %strong
                = link_to comment.user.nickname, user_path(comment.user_id)
              = comment.text
