.main
  .contents
    .contents__box{style: "background-image: url(#{@tweet.image});"}
      .mybox
        .name
          = @tweet.user.nickname
        .menu
          %ul.menu-list
            %li
              = link_to "編集", edit_tweet_path(@tweet.id), class:"list-show"
            %li
              = link_to "削除", tweet_path(@tweet.id),class:"list-show", method: :delete
      .tweeet
        = simple_format(@tweet.text)
    .container
      - if current_user
        = form_with(model: [@tweet, @comment], local: true) do |form|
          = form.text_area :text, placeholder: "コメントする", rows: 2
          = form.submit "SEND"
      - else
        %strong
          %p 
      .comments
        %h4
          %p コメント一覧
          - if @comments
            - @comments.each do |comment|
              %p
                %strong
                  = link_to comment.user.nickname, user_path(comment.user_id)
                = comment.text
