.wrapper
  .header
    .header__left
      = link_to "NyankoBB ", "/"
      = form_with(url: tweets_searches_path, local: true, method: :get, class: "search-form") do |form|
        = form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input"
        = form.submit "検索", class: "search-btn"
    .header__right
      %ul.side-box
        - if user_signed_in?
          %li.side-box__list
            = link_to "新規投稿", "/tweets/new", class: "post"
          %li.side-box__list
            = link_to "ログアウト", destroy_user_session_path, method: :delete
          %li.side-box__list
            = link_to "マイページ", "/users/#{current_user.id}"
        - else
          %li.side-box__list
            = link_to "ログイン", new_user_session_path, class: 'post'
          %li.side-box__list
            = link_to "新規登録", new_user_registration_path, class: 'post'
        %li.side-box__list
          = link_to "投稿一覧", "/", class: "post"